.navbar-default .navbar-brand {
    color: #fff;
}
 .navbar-default .navbar-nav>li>a{
    color: white;
}
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    display:inline;
}

#black{
    background-color: black;
    font-family: Bahnschrift;
    font-size: 20px;
    font-weight: bold;
}
