<% include ../partials/header %>

<div class="container" >
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Movie Transaction</h1>
            <p>Open Source Portal For Movie Freaks</p>
            <p>
                <a class="btn btn-primary btn-large text-center" href="/movies/new">Add New Movie</a>
            </p>
        </div>
    </header>

    <h2><strong>Fantasy Category</strong></h2>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% movies.forEach(function(movie){ %>
        <% if(  movie.genre === 'Fantasy' ) { %>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src="<%= movie.image %>">
                <div class="caption"><h4><%= movie.name %></h4></div>
                <p><a href="/movies/<%= movie._id %>" class="btn btn-primary">More Info</a></p>
            </div>
        </div>
        <% }  %>
        <% }) %>
    </div>
</div>



<% include ../partials/footer %>
